@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cedarville+Cursive&family=Grand+Hotel&family=Martel+Sans:wght@700&family=Poppins:wght@600&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Martel Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background: linear-gradient(0deg, rgba(0,0,0,.8) 0, transparent 60%, rgba(0,0,0,.8));
    background-image: url('./img1.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    color: aliceblue;
    border-bottom: 8px solid #222;
}

.head_center{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
}

.head_center >h1{
    font-size: 31px;
    font-weight:bolder;
}


.head_center >input{
    margin: 20px;
    margin-right: 0;
    padding: 18px;
    width: 380px;
    background-color: rgba(7, 7, 7, 0.87);
    color: aliceblue;
}

.head_center >button{
    /* margin: 20px; */
    margin-left: 0;
    padding: 18px;
    width: 179px;
    background-color: red;
    color: aliceblue;
    border-style: none;
}

.head_part{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_head >img{
    margin: 20px;
    margin-left: 70px;

}

.rgt_head{
    margin: 15px;
    padding: 5px;
    display: flex;
    flex-direction: row;
}

.dropdown{
    margin: 28px;
    padding: 10px;
    margin-right: 0px;
}

.dropbutton{
    margin: 5px;
    padding: 5px 10px;
    background-color: black;
    color: aliceblue;
}

.droplist{
    background-color: grey;
    margin: 5px;
    margin-top: 0px;
    position: absolute;
    display: none;
}

.droplist a{
    display: block;
    padding: 0px 5px;
    color: aliceblue;
    text-decoration: none;
}

.droplist a:hover{
    background-color:blue ;
}

.dropdown:hover .droplist{
    display: block;

}

.btn{
    background-color: red;
    color: aliceblue;
    margin: 45px;
    padding: 5px 15px;
    margin-left: 0px;
    border-style: none;
    font-weight: bold;
    border-radius: 6px;
}

section{
    max-width: 100%;
    background-color: black;
    color:aliceblue;
    border-bottom: 8px solid #222;
    padding: 70px 45px;
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.box1{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: center;

}

.box2{
    position: relative;
    display: flex;
    flex-direction:column ;
    flex-basis: 40%;
    justify-content: center;
}


.container{
    max-width: 1204px;
    margin: 0 auto;
}

.box2 >img{
    z-index: 1;
    max-width: fit-content;
}

.video1{
    position: absolute;
    left: 85px;
    bottom: 9px;
    height: 480px;
    width: 465px;   
}

.video2{
    position: absolute;
    height: 580px;
    width: 420px;
    bottom:20px;
    left: 105px;
}

.animation{
    display: flex;
    flex-direction: row;
    border: 2px solid grey;
    border-radius: 10px;
    width: 350px;
    height: 90px;
    align-items: center;
    background-color: #000;
    justify-content: space-between;
    margin-left: 140px;
}

.img >img{
    padding: 8px;
}

.main >h5{
    font-weight: bold;
    font-size: 21px;

}

.main >h6{
    color: blue;
    font-weight: bold;
    font-size: 18px;
}

.box1 >h2{
    font-size: 50px;
    font-weight: 400px;
}

.box1 >h3{
    font-size: 18px;
    font-weight: 400px;
}

.faqs_box {
    position: relative;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faqs_box>h1 {
    font-size: 3.125rem;
    text-align: center;
}

.faqs {
    display: inline;
    margin: 5px 10%;
    width: 60%
}

.qns {
    font-size: 1rem;
    padding: 5px 10px;
    display: block;
    width: 100%;
    background-color: #222;
    justify-content: flex-start;
    align-items: center;
}

.ans {
    font-size: 1rem;
    display: none;
    width: 100%;
    background-color: #222;
    justify-content: flex-start;
    align-items: center;
    margin: 1px 0px;
    padding: 10px;
    border-top: 1px solid black;
}

.faqs:hover .ans{
    display: block;
}





footer{
    background-color:black ;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}


footer .container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 50px;
}

footer .container .cont{
    display: flex;
}

footer .container .cont ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer .container .cont ul li a{
    /* text-decoration: none; */
    color: aliceblue;
}


